@model IEnumerable<AutoLib.Models.Domain.Station>
@{
    ViewData["Title"] = "Index";
}

<h1>Index for Station</h1>

<div id="map">


</div>

@section scripts {

    <script src="~/js/map.js" asp-append-version="true"></script>
}